<%= error_messages_for 'companyprofile' %>

<!--[form:companyprofile]-->
<p><label for="companyprofile_title">Title</label><br/>
<%= text_field 'companyprofile', 'title'  %></p>

<p><label for="companyprofile_synopsis">Synopsis</label><br/>
<%= text_area 'companyprofile', 'synopsis'  %></p>
<!--[eoform:companyprofile]-->

