<%= error_messages_for 'email' %>

<!--[form:email]-->
<p><label for="email_address">Address</label><br/>
<%= text_field 'email', 'address'  %></p>
<!-- 
<p><label for="email_submitted">Submitted</label><br/>
<%= date_select 'email', 'submitted'  %></p>
 -->
<!--[eoform:email]-->

