<%= error_messages_for 'releaseorder' %>

<!--[form:movie]-->
<p><label for="releaseorder_movie_id">Title</label><br/>
<%= text_field 'releaseorder', 'movie_id'  %></p>


</p>
<!--[eoform:releaseorder]-->

