<%= error_messages_for 'category' %>

<!--[form:category]-->
<p><label for="category_category"><%= @form_action %> category</label><br/>
<%= text_field 'category', 'category'  %></p>

<p><label for="category_color">color</label> (must be valid HEX code)<br/>
<%= text_field 'category', 'color'  %></p>
<!--[eoform:category]-->

