<h1>New festival</h1>

<%= form_tag "/admin/festival/create", :multipart => true %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<%= end_form_tag %>

<%= link_to 'Back', :action => 'list' %>
